<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <a href="/user">Users</a>
    <br>
    <br>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Name">
        <br><br>
        <input type="text" name="age" placeholder="Age">
        <br><br>
        <button>Add</button>        
    </form>
</body>
</html>
<script src="reload/reload.js"></script>
